@import "tailwindcss";

@theme {
  --color-grey-10: rgb(10, 10, 10);
  --color-grey-20: rgb(20, 20, 20);
  --color-grey-30: rgb(30, 30, 30);
  --color-grey-40: rgb(40, 40, 40);
  --color-grey-50: rgb(50, 50, 50);
  --color-grey-60: rgb(60, 60, 60);
  --color-grey-70: rgb(70, 70, 70);
}

body {
  background: rgb(30, 30, 30);
  overflow: hidden;
}

.lucide-icon{
  @apply rounded-full border-grey-20 border-solid border-1 bg-grey-40 hover:bg-grey-60 hover:border-grey-50 transition-all flex w-12 h-12 duration-300 ease-in-out p-2.5
}